body{
  background-color: #7e0000;
}
p, h2, footer{
  font-family: Optima, sans-serif;
}
header, footer{
  border: solid thin;
  border-width: 2px;
  flex-basis : 100%;
  padding-left: 20px;
}


nav ul{
  display: flex;
  flex-wrap: nowrap;
  padding-left : 0px;
}


nav li{
  display: inline;
  border : solid thin;
  flex-basis: 100%;
  text-align: center;
  padding: 10px;
}


aside{
  flex-basis: 50%;
  border: solid thin black;
  padding-left: 20px;
  margin-bottom: 10em;
  margin-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

main{
  margin-top: 30px;
}

main, main li{
  display: flex;
  flex-wrap: nowrap;
}
main li{
  padding : 20px;
}

aside section:nth-last-of-type(2) a {
  display: block;
  border : black thin solid;
  padding: 10px;
  width: 17vw;
}

aside section div {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
}
aside section img{
  width: 25vw;
}
aside section div p{
  font-size: 70%
}

footer{
  padding: 10px;
}
header img{
  width : 90vw
}

main ul img{
  width: 30vw;
  height: 35vh;
  margin: 15px;
}

aside section:last-of-type a {
  display: block;
}

a{
  text-decoration: none;
  color : red;
}